<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>334982258294-3p9lf28h8rsg88fcvo1tnoeg2bq88qft.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.334982258294-3p9lf28h8rsg88fcvo1tnoeg2bq88qft</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>334982258294-lp6nom8eilhkam0om9l6tdpmd05idp1d.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBpHQQsWr4PChdOMl8MPHC50E1InXldXm8</string>
	<key>GCM_SENDER_ID</key>
	<string>334982258294</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.company.paran-girin</string>
	<key>PROJECT_ID</key>
	<string>tonal-baton-245112</string>
	<key>STORAGE_BUCKET</key>
	<string>tonal-baton-245112.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:334982258294:ios:acbc8b4e27461a8be00957</string>
</dict>
</plist>